.app{
  background-color: #797979;
  height: 100vh;
  display: flex;
  gap: 8px;
  padding: 10;
  color: white;
}

.items-list{
  border: 1px solid white;
  width: 100px;
  height: 100px;
  background: #0c1d2b;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}